.idea/
bin/
classification/__pycache__/
dist/
docs/
notebooks/.ipynb_checkpoints/Show_Classification-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Show_Cleaning-checkpoint.ipynb
notebooks/.ipynb_checkpoints/spark_test-checkpoint.ipynb
notebooks/.ipynb_checkpoints/sql_test-checkpoint.ipynb
notebooks/.ipynb_checkpoints/widget_test-checkpoint.ipynb
notebooks/emp.db
notebooks/metastore_db/
notebooks/spark_test.ipynb
notebooks/sql_test.ipynb
notebooks/widget_test.ipynb
sample/__pycache__/CreateParameters.cpython-35.pyc
sample/__pycache__/DataIO.cpython-35.pyc
sample/__pycache__/ShowKmeans.cpython-35.pyc
sample/__pycache__/Solver.cpython-35.pyc
sample/spark-warehouse/
shared/__pycache__/
spark-warehouse/
/notebooks/.ipynb_checkpoints/Sidsel_Widgets-checkpoint.ipynb
/notebooks/derby.log
/notebooks/Untitled.ipynb
/notebooks/.ipynb_checkpoints/
.gitignore
